* {box-sizing: border-box;
}
body{
background-color: black;
height: 100vh;
margin: auto;
}
.test {
  margin: auto;
  width: 50%;
  height: 500px;
  background: hsla(230, 100%, 50%, 0.568);
}
h2{
  text-align: center;
  color: aliceblue;
}
h1{
  text-align: center;
  color: aliceblue;
}
h3{
  text-align: center;
  color: aliceblue;
}
#object{
  margin: auto;
  width: 25%;
  height: 250px;
  background-color: aqua;
}

button{
  background:linear-gradient(rgba(255, 255, 0, 0.928),rgba(255, 166, 0, 0.884));
  color: black;
}



.box{
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: blue; 
  color: aliceblue;
  text-align: center; 
}

.move{
  animation: slideup 1s ease-in-out;
  animation-fill-mode: forwards;
}



@keyframes slideup {
  0%{
      transform: translateY(0rem) ;
  }
  
  100%{
    transform: translateY(-8rem);
  }
 

}

.wiggle{

  animation: skew 3s infinite;
  transform: skew(10deg);
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skewX(10deg);
  }
  100% {
    transform: skewX(-10deg);
  }
}

.anim {
  margin: auto;
  width: 25%;
  height: 400px;
}

#area{
  text-align: center;
  margin: auto;
  width: 50%;
  height: 500px;
  background: hsla(230, 100%, 50%, 0.568);
}
